.main{
    margin-top: 5rem;
}
.img{
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    object-fit :cover;
}

.post-info{
    position: fixed;
    top: 13vh;
    left: 58vw;
    height: 8.5rem;
    
    text-align: start;
}
.img-div{
    position: fixed;
    top: 10vh;
    left: 31vw;
}
.separator{
    position: fixed;
    top: 27vh;
    width: 60vw;
    height: 0.5vh;
    left: 20vw;
    
}
hr.rounded {
    border-top: 0.5vh solid #bbb;
    border-radius: 5px;
}
.post-list{
    position: fixed;
    top: 31.5vh;
    width: 60vw;
    left:20vw;
    display: flex;
    flex-wrap: wrap;
    gap:1.4rem;
    padding: 0.5rem;
    
    overflow-y:scroll;
    height: 65vh;
    scrollbar-width: 0;
}
.post-list::-webkit-scrollbar{
    display: none;
}
.profile-videos{
    height: 23rem;
    width: 13rem;
    object-fit :cover;
    
}